.header {
    background-color: #213842;
    color: #fff;
    border-bottom: 1px solid #ddd;
}
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
    font-size: 1.3rem;
    font-weight: bold;
}
.nav ul {
    display: flex;
    gap: 20px;
    z-index: 3;
}
.nav a {
    font-size: 0.95rem;
    opacity: 0.9;
    transition: 0.2s;
    z-index: 3;
}
.nav a:hover {
    opacity: 1;
}
